@import "reset.css";

.background-image {
  content: ""; /* 가상 요소의 내용 설정 */
  position: absolute; /* 절대 위치 설정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./image/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2; /* 가상 요소를 배경 이미지 위에 배치 */
}

.blur {
  content: ""; /* 가상 요소의 내용 설정 */
  position: absolute; /* 절대 위치 설정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px); /* 이미지에 블러 효과 추가 */
  z-index: -1; /* 가상 요소를 배경 이미지 위에 배치 */
}

.main-title {
  font-size: 3.2em;
  line-height: 1.1;
  color: white; /* 기본 텍스트 색상 */
  position: relative; /* 가상 요소 위에 배치할 수 있도록 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 텍스트 그림자 추가 */
}

.sub-title {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.next-page-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
