@import "reset.css";
@import "font.css";

.title-container {
  padding-top: 50px;
  font-family: "FUNFLOWSURVIVORKR", sans-serif;
}

.main-title {
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 10px 0;
  margin-bottom: 15px;
}

.sub-title {
  font-size: 30px;
}

#main-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.main-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 70%;
}

.main-btn {
  padding: 10px 30px;
  margin: 33px 0;
  font-size: 40px;
  font-weight: 100;
  position: relative;
  overflow: hidden;
}

.main-btn:hover {
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.07);
}
