@import "font.css";

:root {
  --black-color: #282828;
}

body {
  overflow: hidden;
  user-select: none;
  font-family: "Montserrat", "Source Sans 3", sans-serif;
}

button {
  font-family: "Montserrat", "Source Sans 3", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
}

#root {
  height: 100vh;
  width: 100vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
