@import "reset.css";

#minigame-container {
  justify-content: center;
  position: absolute;
}

.minigame-menu {
  position: relative;
  margin: 3vh 0 3vh 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 650px;
  width: 450px;
  background-color: var(--global-first-ui-color);
  clip-path: inset(1px 1px 1px 1px round var(--global-border-radius));
}

.minigame-menu__back-button {
  position: absolute;
  left: 24px;
  top: 27px;
  width: 25px;
  height: 25px;
}

.minigame-menu__title {
  color: white;
  font-size: 32px;
  margin: 64px 0 32px 0;
}

.minigame-menu__quiz-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-bottom: 32px;
}

.minigame-menu__quiz-hint-image {
  clip-path: inset(1px 1px 1px 1px round var(--global-border-radius));
  margin-bottom: 32px;
}

.minigame-menu__quiz-selector__text {
  margin-bottom: 32px;
}

.minigame-menu__quiz-type-selector {
  width: 190px;
  height: 35px;
  background-color: var(--global-second-ui-color);
  border-radius: var(--global-selector-top-radius);
  clip-path: inset(0 round 16px 16px 3.5px 3.5px);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: none;
  color: white;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.minigame-menu__quiz-type-selector:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 600;
}

.minigame-menu__quiz-number-selector {
  width: 190px;
  height: 35px;
  background-color: var(--global-second-ui-color);
  border-radius: var(--global-selector-bottom-radius);
  clip-path: inset(0 round 3.5px 3.5px 16px 16px);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: none;
  color: white;
  outline: none;
  appearance: none;
}

.minigame-menu__quiz-number-selector:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 600;
}

.minigame-menu__quiz-selector__button {
  display: flex;
  justify-content: flex-end;
  background-color: var(--global-second-ui-color);
  border: none;
  border-radius: var(--global-border-radius);
  padding: var(--global-button-padding-size);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.minigame-menu__quiz-selector__button:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 900;
}
