@import "reset.css";

#minigame-container {
  justify-content: center;
  position: absolute;
}

.minigame-quiz {
  position: relative;
  margin: 3vh 0 3vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  width: 450px;
  background-color: var(--global-first-ui-color);
  clip-path: inset(1px 1px 1px 1px round var(--global-border-radius));
}

.minigame-quiz__back-button {
  position: absolute;
  left: 24px;
  top: 27px;
  width: 25px;
  height: 25px;
}

.minigame-quiz__title {
  color: white;
  font-size: 32px;
  margin: 64px 0 32px 0;
}

.minigame-quiz__image-container {
  margin: 40px 0;
  background-color: black;
  border-radius: var(--global-border-radius);
  padding: 10px;
}

.minigame-quiz__image {
  width: 340px;
  height: 100px;
}

.minigame-quiz__description {
  color: white;
  font-size: 16px;
  margin-bottom: 25px;
}

.minigame-quiz__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.minigame-quiz__input-form__input {
  background-color: var(--global-second-ui-color);
  border: none;
  border-radius: var(--global-border-radius);
  padding: var(--global-button-padding-size);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  color: white;
  caret-color: white;
  text-align: center;
}

/* 포커스 시 border 제거 */
.minigame-quiz__input-form__input:focus {
  outline: none;
  box-shadow: none;
}

.minigame-quiz__go-next-quiz {
  display: flex;
  justify-content: flex-end;
  background-color: var(--global-second-ui-color);
  border: none;
  border-radius: var(--global-border-radius);
  padding: var(--global-button-padding-size);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-weight: 600;
}

.minigame-menu__quiz-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin: 3vh 0;
}

.minigame-menu__quiz-selector__text {
  margin-bottom: 16px;
}

.minigame-menu__quiz-type-selector {
  padding: 10px 48px;
  background-color: var(--global-second-ui-color);
  border-radius: var(--global-selector-top-radius);
  transition: all 0.3s ease-in-out;
  border: none;
  color: white;
  outline: none;
  appearance: none;
}

.minigame-menu__quiz-type-selector:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 600;
}

.minigame-menu__quiz-number-selector {
  padding: 10px 81px;
  background-color: var(--global-second-ui-color);
  border-radius: var(--global-selector-bottom-radius);
  transition: all 0.3s ease-in-out;
  border: none;
  color: white;
  outline: none;
  appearance: none;
}

.minigame-menu__quiz-number-selector:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 600;
}

.minigame-menu__quiz-selector__button:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 900;
}

.minigame-quiz__input-form__submit-btn {
  background-color: var(--global-second-ui-color);
  border: none;
  border-radius: var(--global-border-radius);
  padding: var(--global-button-padding-size);
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  width: 100%;
  font-weight: 600;
}

.minigame-quiz__input-form__submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.76);
  transition: all 0.3s ease-in-out;
  color: var(--black-color);
  font-weight: 900;
}

.minigame-quiz__input-form__submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
